<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="App">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


  <title>To Do Application</title>

  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="main.css" />

</head>

<body ng-controller="mainController">
  <div class="container-fluid">
    <div class="tab row">
      <div class="col-6 col-sm-3 col-lg-3">
        <button class="tablinks default" id="add" onclick="changeTab(event, 'add')">
          <span class="fa fa-plus center"></span>
        </button>
        <button class="tablinks" id="search" onclick="changeTab(event, 'search')">
          <span class="fa fa-search"></span>
        </button>
      </div>
      <div class="col-1 col-sm-5 col-lg-6"></div>
      <div class="col-3 col-sm-2 col-lg-2 nameAndPicture">
        <a>Welliton Paiva</a>
        <br>
        <a>Logged in {{date}}</a>
      </div>
      <div class="col-1 col-sm-1 col-lg-1">
        <img class="img-responsive rounded-circle" src="https://media.licdn.com/dms/image/C4D03AQHCuXrVMY46Ng/profile-displayphoto-shrink_200_200/0?e=1528423200&v=beta&t=JHkW2ITon9tFn8HF_9x6DMJ76hhgQBtMSiJpu-PIMrA">
      </div>
    </div>

    <div id="add-form" class="belowTab tab row">
      <form class="form-inline">
        <div class="input-group col-12 col-sm-12 col-lg-12">
          <input type="text" class="form-control " placeholder="Add a task ..." ng-model="formData.text">

          <button type="submit" class="fa fa-plus input-group-addon" ng-click="addTodo()">
        </div>
      </form>
    </div>

    <div id="search-form" class="belowTab tab row">
      <form class="form-inline">
        <div class="input-group col-12 col-sm-12 col-lg-12">
          <input type="text" class="form-control" placeholder="Search a task ..." ng-model="searchString">
        </div>
      </form>
    </div>

    <div id="todo-list" class="row">
      <div class="col-12 col-sm-12 col-lg-12">
        <div class="checkbox" ng-repeat="todo in todoList | filter : searchString">
          <label>
            <input type="checkbox" ng-disabled="todo.isComplete" ng-click="completeTodo(todo)">{{ todo.text }}
          </label>
          <button type="button" class="close" aria-label="Close" ng-click="removeTodo(todo)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>

    <div id="done-list" class="row">
      <div class="col-12 col-lg-12">
        <div class="checkbox" ng-repeat="todo in doneList | filter : searchString">
          <label class="complete">
            <input type="checkbox" ng-disabled="todo.isComplete" ng-click="completeTodo(todo)">{{ todo.text }}
          </label>
          <button type="button" class="close" aria-label="Close" ng-click="removeCompletedTodo(todo)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <footer>You have {{todoList.length + doneList.length}}, {{todoList.length}} undone items and {{doneList.length}} done items</footer>
</body>
<script type="text/javascript" src="./node_modules/angular/lib/angular.min.js"></script>
<script type="text/javascript" src="./node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="./node_modules/jquery/dist/jquery.js"></script>
<script src="app.js"></script>
<script src="actions.js"></script>

</html>